body {
  background-color: #8860d0 !important;
}

.head{
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
}

.head .text {
  font-family: "Sacramento", cursive;
  text-align: center;
  color: #8860d0;
  font-size: 50px;
  
}


.navbar {
  background-color: white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Staatliches", cursive;
  color: #8860d0;
}

a {
  font-family: "Barlow", sans-serif;
  font-size: medium;
  letter-spacing: 3px;
}

.main-banner {
  margin: 50px;
  text-align: center;
  position: relative;
  color: black;
  opacity: 85%;
}

.main-banner .main-head {
  font-size: 70px;
  font-family: "Staatliches", cursive;
  color: white;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.main-banner img {
  max-width: 100%;
  height: auto;
  border-radius: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate(-50%, -50%);
}

.about {
  text-align: center;
  margin: 30px;
}
.about .row .about-text {
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 50px;
  font-family: "Noto Sans JP", sans-serif;
  margin: 20px;
}

.about .text {
  font-size: large;
  margin: 20px;
}

.about .row .about-image img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 50px;
  max-width: 80%;
  height: auto;
  margin: 20px;
}

.skills {
  text-align: center;
  margin: 50px;
}
.skills img {
  max-width: 35%;
  height: auto;
  margin-top: 10px;
}

.skills .row .col-sm-12 {
  background-color: white;
  border-radius: 50px;
  margin: 30px;
  width: 250px;
  height: 250px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
 
.more-skills {
  margin: 50px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: "Noto Sans JP", sans-serif;
}

.more-skills ul{
  text-decoration: none;
  list-style: none;
  text-align: start;
}

.more-skills .row .col-sm-12 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 50px;
  background-color: white;
}

.more-skills .row .text {
  margin: 20px;
}

.projects {
  margin: 50px;
  text-align: center;
}

.projects .row .col-sm-12 {
  margin: 20px;
}

.projects .row .project-text {
  border-radius: 50px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: white;
}

.projects h2 {
  margin: 20px;
}

.projects .text {
  margin: 20px;
  font-size: large;
}

.projects img {
  max-width: 80%;
  height: auto;
  font-family: "Noto Sans JP", sans-serif;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 50px;
  background-color: white;
}
.contact {
  text-align: center;
}

.contact img {
  margin-bottom: 20px;
  max-width: 35%;
  height: auto;
  margin-top: 10px;
}

.contact img :hover{
  transform: scale(2);
}

.contact .row .col-sm-12 {
  background-color: white;
  border-radius: 50px;
  margin: 30px;
  height: 250px;
  width: 250px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.foot {
  background-color: white;
  height: 300px;
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  text-align: center;
  vertical-align: middle;
}

.foot a {
  text-decoration: none;
  color: white;
}

.foot a:hover {
  color: white;
}
